/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.button-second {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 32px;
	min-height: 34px;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	text-align: center;
	color: var(--white-color);
	border: 0;outline: none;
	border-radius: 5px;
	background-color: var(--global-color);
	transition: .3s ease;
	&:hover {
		opacity: 0.9;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}