/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.button-second {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 32px;
	min-height: 34px;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	text-align: center;
	color: var(--white-color);
	border: 0;outline: none;
	border-radius: 5px;
	background-color: var(--global-color);
	transition: .3s ease;
	&:hover {
		opacity: 0.9;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

.button-blur {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 20px 44px;
	min-height: 64px;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	color: var(--white-color);
	outline: none;
	border-radius: 120px;
	border: 1.5px solid rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px);
	--webkit-backdrop-filter: blur(5px);
	transition: .3s ease;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.button-primary {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 16px 44px;
	min-height: 50px;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: var(--white-color);
	letter-spacing: 0.48px;
	border: 2px solid var(--white-color);outline: none;
	border-radius: 100px;
	background-color: #474d4f;
	box-shadow: 0px 2px 10px 0px rgba(71, 77, 79, .6);
	transition: .3s ease;
	&:hover {
		color: #474d4f;
		border-color: #474d4f;
		background-color: var(--white-color);
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

.button-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 48px;
	min-height: 48px;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	color: var(--white-color);
	border: 1px solid rgba(255, 255, 255, .3);
	outline: none;
	border-radius: 5px;
	background-color: transparent;
	transition: .3s ease;
	&:hover {
		border-color: var(--global-color);
		background-color: var(--global-color);
	}
}

@include mobile {
	.button-blur {
		padding: 16px 36px;
		min-height: 50px;
		font-size: 14px;
	}
}