/*----header-----*/
.header {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  padding: 18px 0 20px 0;
  width: 100%;
  color: #252525;
  z-index: 500;
  .logo {
    flex-shrink: 0;
    width: 78px;
    margin-right: 48px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    &::after {
      content: '';
      position: absolute;
      left: 0;bottom: -20px;
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, .2);
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    &-head {
      display: none;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    >li {
      &:not(:last-child) {
        margin-right: 56px;
      }
      >a {
        display: inline-block;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        color: #252525;
        text-align: center;
        transition: color .3s ease;
        &::after {
          content: '';
          position: absolute;
          top: 50%;left: 50%;
          transform: translate(-50%,-50%);
          width: calc(100% + 36px);
          height: calc(100% + 20px);
          border-radius: 100px;
          background: var(--global-color);
          opacity: 0;
          z-index: -1;
          transition: opacity .3s ease;
        }
        &:hover {
          color: var(--white-color);
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  &__bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-left: 48px;
    .phone {
      display: inline-block;
      align-items: flex-start;
      padding: 10px 20px;
      flex-shrink: 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      color: #252525;
      border-radius: 100px;
      border: 1px solid rgba(80, 89, 77, .2);
      img {
        margin-top: -1px;
        margin-right: 10px;
        width: 18px;
      }
      &:hover {
        border: 1px solid rgba(80, 89, 77, .8);
      }
    }
  }
}

.page-template-front-page {
  .header__container {
    &::after {background: rgba(44, 49, 43, .2);}
  }
}

#burger-open,
#burger-close {
  display: none;
}

/* Lang */
.langs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 24px;
  margin: 0 0 0 10px;
  border-radius: 100px;
  border: 1px solid rgba(80, 89, 77, .2);
  li {
    display: inline-flex;
    &:not(:last-child) {
      margin-right: 16px;
    }
    a {
      display: inline-block;
      opacity: .3;
      flex-shrink: 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      text-decoration: underline;
      color: #252525;
      transition: opacity .3s ease;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    &.wpml-ls-current-language {
      a {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1365px) {
  .header {
    &__nav {
      justify-content: space-between;
    }
    &__menu {
      position: unset;
      left: auto;
      transform: none;
      >li {
        &:not(:last-child) {
          margin-right: 36px;
        }
      }
    }
  }
}

@include tablet {
  #burger-open,
  #burger-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid rgba(80, 89, 77, .2);
    outline: none;
    background: none;
  }
  .header {
    top: 38px;
    padding: 16px 0;
    .logo {
      width: 62px;
      margin-right: 12px;
    }
    &__container {
      &::after {
        display: none;
      }
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: fixed;
      top: 0;bottom: 0;
      right: -100%;
      width: 360px;
      max-width: 100%;
      padding: 16px 15px 40px 15px;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      background: #f6f6f6;
      transition: right .4s;
      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        margin-bottom: 24px;
        width: 100%;
      }
    }
    &__menu {
      flex-direction: column;
      justify-content: center;
      margin: auto 0;
      width: 100%;
      >li {
        width: fit-content;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 32px;
        }
      }
    }
    &__bar {
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      margin-top: 24px;
      .phone {
        margin-top: 28px;
        order: 1;
      }
    }
  }

  // .nav-menu {
  //   width: 100%;
  //   align-items: flex-start;
  //   flex-direction: column;
  //   margin-bottom: 20px;
  //   >li {
  //     position: relative;
  //     padding: 18px 0;
  //     border-bottom: 1px solid #E4E4E4;
  //     width: 100%;
  //     &.menu-item-has-children {
  //       &>.icon-chevron {
  //         position: absolute;
  //         right: 4px;top: 14px;
  //         transform: none;
  //         font-size: 28px;
  //       }
  //       &.open {
  //         >a {
  //           margin-bottom: 10px;
  //         }
  //         &>.icon-chevron {
  //           transform: rotate(180deg);
  //         }
  //       }
  //     }
  //     &:first-child {
  //       border-top: 1px solid #E4E4E4;
  //     }
  //     >a {
  //       width: calc(100% - 50px);
  //     }
  //   }
  //   .sub-menu {
  //     position: relative;
  //     left: auto;top: auto;
  //     transform: none;
  //     margin: 0;
  //     padding: 0 0 0 20px;
  //     width: 100%;
  //     border-radius: 0;
  //     background: none;
  //     box-shadow: none;
  //     opacity: 100; visibility: visible;
  //     overflow: hidden;
  //     height: 0;
  //     transition: all .25s ease;
  //     li a {
  //       display: inline-block;
  //       padding: 10px 0;
  //       text-align: left;
  //       text-transform: uppercase;
  //     }
  //     li:not(:last-child) a {
  //       border-bottom: 0;
  //     }
  //   }
  // }
}

// @include mobile {
//   .header {
//     margin-bottom: 30px;
//   }
// }

// @media screen and (max-width: 390px) {
//   .search-label.active {
//     width: calc(100% - 20px);
//   }
// }

/* Show menu */
.header__nav.show {
  right: 0;
  z-index: 1000;
}