/*-----title----*/
.section-title {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4;
	color: var(--white-color);
}
.page-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 52px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
	color: var(--white-color);
}

.heading {
	margin-bottom: 24px;
	.section-title {
		margin-bottom: 0;
	}
	p {
		margin-top: 14px;
		margin-bottom: 0;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.44;
		color: rgba(255, 255, 255, .7);
	}
}

@include desktop {
	.page-title,
	.section-title {
		font-size: 36px;
	}
	.heading {
		p {
			margin-top: 8px;
			font-size: 18px;
		}
	}
}
@include tablet {
	.page-title,
	.section-title {
		font-size: 32px;
	}
	.heading {
		p {
			font-size: 16px;
		}
	}
}
@include mobile {
	.page-title,
	.section-title {
		font-size: 24px;
	}
	.heading {
		p {
			font-size: 14px;
		}
	}
}