<div class="acard">
  <!-- Swiper -->
  <div class="swiper acardSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/auto.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/auto.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/auto.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/auto.jpg" alt=""></div>
      <div class="swiper-slide"><img src="/img/auto.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <a href="single.html" class="acard__content">
    <h2 class="acard__title">Ford Bronco Sport</h2>
    <div class="acard__price">
      <div class="old">$160 000</div>
      <div class="new">$130 000</div>
    </div>
    <div class="acard__chars">
      <p>157 129 км</p>
      <p>Автомат</p>
      <p>1.6/128 л.с.</p>
      <p>Передний привод</p>
    </div>
  </a>
</div>